/*Style of normal HTML */
	.select-content {
		width: 514px;
		position: relative;
	}
	.select-oper {
		width: 514px;
		height: 35px;
		text-transform: uppercase;
		color: #fff;
		padding-left: 10px;
		box-sizing: border-box;
		font-size: 18px;
		font-weight: bold;
		background: url(white-arrows.png) 500px center no-repeat #007dc6;
		line-height: 34px;
		vertical-align: middle;
		cursor: pointer;
		position: relative;
		float: left;
	}
	.dropdown-select-custom {
		position: absolute;
		background: #ffd503;
		box-shadow: 4px 6px 45px -6px;
		height: 136px;
		left: 0px;
		z-index: 15;
		box-sizing: border-box;
		overflow: auto;
		display: none;
	}
	.dropdown-select-custom p:hover {
		background: #007dc6;
		color: #fff;
	}
	.dropdown-select-custom p {
		width: 100%;
		cursor: pointer;
		color: #007dc6;
		font-size: 18px;
		font-weight: bold;
		padding: 8px;
		box-sizing: border-box;
		margin:0;
		padding: 8px;
	}
	/**/

	/* Customize scrollbar */
	.mCSB_scrollTools {
		width: 6px !important;
		background-color: #f3f3f3 !important;
	}
	.mCSB_draggerRail {
		background-color: #f3f3f3 !important;
	}
	.mCSB_dragger_bar {
		background-color: #00a1e4!important;
		width: 2px!important;
	}
	.mCSB_container {
		margin-right: 0 !important;
	}

	/**/